@font-face {
    font-family: "iranyekan" ;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#") ,
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}
@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#") ,
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}
*{
    margin: 0;
    padding: 0;
}
*a {
    text-decoration: none;
}
body{
    font-family: 'iranyekan_numbers','iranyekan';
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #706960);
}
header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    padding: 0rem 0rem 4rem 0
}
header .container {
    justify-content: space-between;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
header .container .p {
    width: 50%;
    text-align: start;
    font-weight: bolder;
    font-size: 2rem;
    padding: 0.5rem;
    color: #3f87a6;
    border-radius: 0.2rem;
}
.animate__shakeX {
    animation-duration: 1s;
}
.cube {
    direction: rtl;
    margin-top: 1.5rem;
    position: relative;
    transform-style: preserve-3d;
    width: 20%;
    transition: transform 2s cubic-bezier(0.25, 1, 0.5, 1);
}
.cube:hover {
    transform: rotateX(270deg);
}
.cube__face {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size : 1rem;
    text-align: center;
    font-size: 0.5rem;
}
.cube__face--front {
    transform: rotateX(0deg);
    font-size: 0.81rem;
    padding: 0.1rem;
    color: #3f87a6;
    width: 50%;
    border: #b0b0f1 1px solid;
}
.cube__face--back svg {
    color: #3f87a6;
}
.cube__face--back {
    width: 55%;
    transform: rotateX(90deg);
    margin: 0 auto;
}
header .input {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}
header .input .search svg {
    color: #3b4042;
}
header .input .search input{
    background-color: #dce8ed;
    padding: 0.2rem;
    color: #3f87a6;
    border: #b0b0f1 1px solid;
}
header .input .search select {
    background-color: #dce8ed;
    border: #b0b0f1 1px solid;
    color: #3f87a6;
    margin-left: 1rem;
    padding: 0.1rem;
}
article{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    margin: 2rem auto;
    gap: 4%;
    width: 85%;
}
article section {
    width: 100%;
    background-color: #ebf8e1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    border-radius: 0.2rem;
    position: relative;
}
article section svg{
    color: #ff9712;
}
article section .img {
    width: 90%;
    margin: 0 auto;
    margin-top: 0.7rem;
}
article section .img img {
    width: 100%;
}
article section .bacgrond {
    display: none;
    margin-top: 0.7rem;
}
article section .img:hover .bacgrond {
    display: block;
    background: linear-gradient(0.25turn, #0008ff, #5c5e5a, #ff9712);
    width: 100%;
    height: 50vh;
    position: absolute;
    opacity: 0.7;
    top: 2rem;
}
article section .bacgrond p{
    color: white;
    font-weight: bolder;
    text-align: center;
    margin: 4rem 0.5rem;
}
article section .text {
    width: 86%;
    direction: rtl;
    text-align: start;
    margin: 0 auto;
}
article section .text a {
    color: #706960;
    text-decoration: none;
}
article section .text ins{
    text-decoration: none;
}
article section .text a:hover{
    font-weight: bolder;
    color: #3f87a6;
}
